@page "{id:int?}"
@model ProjectManagementApp.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectDes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectDes)
        </dd>
        </dd>
    </dl>
    <dl class="row">
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Project.ProjectID">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </dl>

    <dl class = "row">
        
    <form method="post">
        <input type="hidden" asp-for="Project.ProjectID" />
        <div class="form-group">
            <select asp-items="Model.MemberDropDown" asp-for="MemberIdToAdd" class="form-control">
                <option value="">--Select Member to Add--</option>
            </select>
            <span asp-validation-for="MemberIdToAdd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit"value="Add Member" class="btn btn-primary" />
        </div>
    </form> 
    </dl>    

    
        <dl class = "row">
        <ul>
            <table class = "table">
                <thead>
                    <tr>
                        <th>
                            Member Name
                        </th>
                        <th>
                            Member Role
                        </th>
                        <th>
                            Assignment Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Project.ProjectMembers) {
                    <tr>
                        <td>
                            @item.Member.FirstName @item.Member.LastName
                        </td>
                        <td>
                            @item.MemberRole
                        </td>
                        <td>
                            @item.AssignmentDes
                        </td>
                        <td>
                            <a asp-page="./ProjectMembers/Edit" asp-route-id="@item.ID" class = "btn btn-primary btn-sm my-1">Edit</a>
                        </td>
                        <td>
                            <form method="post">
                                    <input type="hidden" asp-for="MemberIdToDelete" value="@item.MemberID" />
                                    <input type="submit" Value="Drop" class="btn btn-danger btn-sm my-1" asp-page-handler="DeleteMember" asp-route-id="@Model.Project.ProjectID">       
                            </form>
                        </td>
                </tr>
                    }
                </tbody>
            </table>
            </ul>
        </dl>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}